
.idea/

AnalyseLogs/

client_secrets.json

*.pyc

DocsToConfluence.py

CreatePageFromAntScriptHelp.py

SVNAPI.py

*.dat

RepositoryXML/

PersonalSettings.py

ParseSRQ.py

GetMyCommits.py

CommonAPI/
